<!DOCTYPE HTML>

<html lang="en">

<head>
    <meta charset="utf-8">

    <title><%= htmlWebpackPlugin.options.title %></title>

    <meta property="og:title" content="<%= htmlWebpackPlugin.options.title %>" />
    <meta property="og:description" content="<%= htmlWebpackPlugin.options.description %>" />
    <meta property="og:image" content="https://danziger.github.io/slotjs/screenshots/slotjs.png" />
    <meta property="og:image:width" content="928" />
    <meta property="og:image:height" content="928" />
    <meta property="og:image:alt" content="<%= htmlWebpackPlugin.options.title %>" />
    <meta property="og:url" content="https://danziger.github.io/slotjs/" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:creator" content="@gmzcodes" />

    <meta name="viewport" content="width=device-width">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap" />

    <link rel="canonical" href="https://danziger.github.io/slotjs/" />

    <!-- ANALYTICS & SITE VERIFICATION -->

    <meta name="google-site-verification" content="6Xa2p_VrmGSIQeZNe8Qd3qnNgE3hIlH2wIhjX0DQYJ4" />
    <script defer data-domain="danziger.github.io/slotjs" src="https://plausible.io/js/plausible.js"></script>

</head>

<body class="app__base">

    <%- include ./src/app/components/header/header.template.ejs %>

    <main class="app__main" id="main">
        <section class="sm__base">
            <!-- <div class="sm__display sm__display--background"></div> -->
            <div class="sm__reelsContainer"></div>
            <div class="sm__display"></div>
        </section>
    </main>

    <div class="app__coverLeft"></div>
    <div class="app__coverRight"></div>

    <section class="modal__root" id="instructionsModal">
        <h2 class="modal__title instructions__title">
            <span class="modal__titleIcon instructions__titleIcon">🕹️</span>Instructions
            <button class="modal__button" aria-label="Close Instructions Popup and Resume Game">
                <span class="modal__buttonIcon">×</span>
            </button>
        </h2>

        <%- include ./src/app/components/instructions/instructions.template.ejs %>
    </section>

    <section class="modal__root" id="payTableModal">
        <h2 class="modal__title pt__title">
            <span class="modal__titleIcon pt__titleIcon">🏆</span>Pay Table
            <button class="modal__button" aria-label="Close Pay Table Popup and Resume Game">
                <span class="modal__buttonIcon">×</span>
            </button>
        </h2>

        <%- include ./src/app/components/pay-table/pay-table.template.ejs %>
    </section>

    <%- include ./src/app/components/footer/footer.template.ejs %>

</body>
</html>
